.header{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
background: rgba(255, 255, 255, 0.92);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(16.5px);
-webkit-backdrop-filter: blur(16.5px);
border: 1px solid rgba(255, 255, 255, 0.73);    height: 50px;
    padding: 0px 10px 0px 10px;
font-family:Helvetica;
}

h1{
    font-size: 20px;

}